.dino {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("img/t-rex.png");
    bottom: 0px;
}

.obstacle {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("img/cati.png");
    bottom: 0px;
}