.grid {
    width: 400xp;
    height: 600px;
    background-color: yellow;
    position: relative;
    overflow: hidden;
}

.doodler {
    width: 60px;
    height: 85px;
    background-color: black;
    position: absolute;
    border-radius: 10px;
}

.platform {
    width: 85px;
    height: 15px;
    background-color: green;
    position: absolute;
}